body {
    background-color: wheat;
    font-size: large;
    line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
}
a {
    text-decoration: none;
    color: black;
}

#container {
    width: 60%;
    margin: auto;
    border: 0.5mm dashed black;
    padding: 15px;
}
#title {
    text-align: center;
    text-decoration: underline;
}
#table {
    text-align: center;
    word-spacing: 15px;
}
#presentation1 {
    height: 266px;
}
#presentation2 {
    width: 256px;
    border: 3px solid black;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.word-spacing {
    word-spacing: 0px;
}
.justify {
    text-align: justify;
}
.center {
    text-align: center;
}
.table {
    border: 2px solid black;
}
